.container {
    margin-left: 20px;
    margin-top: 20px;
}

.nav{
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
}

.nav__link{
    display: inline-block;
    margin: 0 20px 40px 0;
    
    color: black;
    text-decoration: none;
    border: 1.5px solid black;
    border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    
    transition: color .4s linear;
}

.nav__link:hover{
    background: black; /*#f8f8ff; /*white;*/
    color: white;
}

.text {
    color: black;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}

.edit_style {
    margin-right: 2px;
    margin-bottom: 2px;
}

.add {
    background: white;
    font-size: 15px;
    text-transform: uppercase;
}